name: Build AQDx Validator

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          # Windows uses semicolon ; for add-data
          - os: windows-latest
            asset_name: validate-AQDx-windows
            artifact_name: validate-AQDx-windows.exe
            add_data: 'src/aqdx-schema.json;.' 
            
          # Linux uses colon : for add-data
          - os: ubuntu-latest
            asset_name: validate-AQDx-linux
            artifact_name: validate-AQDx-linux
            add_data: 'src/aqdx-schema.json:.'

          # Mac uses colon : for add-data
          - os: macos-latest
            asset_name: validate-AQDx-macos
            artifact_name: validate-AQDx-macos
            add_data: 'src/aqdx-schema.json:.'

    runs-on: ${{ matrix.os }}
    
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        environment-file: environment.yaml
        auto-activate-base: false
        activate-environment: validate-AQDx
        miniforge-variant: Mambaforge

    - name: Build with PyInstaller
      run: |
        # We use the ${{ matrix.add_data }} variable to handle the OS differences
        pyinstaller --onefile --name ${{ matrix.asset_name }} --add-data "${{ matrix.add_data }}" src/validate_aqdx.py

    - name: Prepare Artifacts
      run: |
        mkdir build_output
        mv dist/${{ matrix.artifact_name }} build_output/

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.asset_name }}
        path: build_output/