name: Build and Release AQDx Validator

on:
  # Trigger 1: Build & Test on every push to main (Continuous Integration)
  push:
    branches: [ "main" ]
  
  # Trigger 2: Build, Test, AND Release when a tag starting with 'v' is pushed
  create:
    tags:
      - 'v*' 

jobs:
  build:
    name: Build for ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            asset_name: aqdx-validator-windows
            artifact_name: aqdx-validator-windows.exe
            adddata: "src/aqdx-schema-tabular.json;." 
          - os: ubuntu-latest
            asset_name: aqdx-validator-linux
            artifact_name: aqdx-validator-linux
            adddata: "src/aqdx-schema-tabular.json:."  
          - os: macos-latest
            asset_name: aqdx-validator-macos
            artifact_name: aqdx-validator-macos
            adddata: "src/aqdx-schema-tabular.json:."


    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v5

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        environment-file: environment.yaml
        auto-activate-base: false
        activate-environment: aqdx-validator
        miniforge-variant: Mambaforge

    - name: Run Automated Tests
      env:
        PYTHONPATH: ${{ github.workspace }}
      run: pytest tests/

    - name: Build with PyInstaller
      run: |
        pyinstaller --onefile --name ${{ matrix.asset_name }} --add-data "${{ matrix.add_data }}" src/validate_aqdx.py

    # Upload as Artifact
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.asset_name }}
        path: dist/${{ matrix.artifact_name }}

    # Release (Only runs on tags) ---
    - name: Release to GitHub
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        files: dist/${{ matrix.artifact_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}